# BrewMap MongoDB — environment variables
# Copy this file to .env and fill in your values before running docker compose up

MONGO_ROOT_USER=admin               # default "admin"
MONGO_ROOT_PASSWORD=changeme        # default "changeme" CHANGE THIS before running in any shared environment
MONGO_PORT=27017                    # default "27017"

# BrewMap API
# 127.0.0.1 for local only access
# 0.0.0.0 for global access
BIND_IP=127.0.0.1 
HTTP_PORT=5239
HTTPS_PORT=7000

# WebApp (Frontend)

# Mobile App (MobileApp)

# [APP MODES]
# - HARD_CODE = (offline) data is fully stored on the app
# - API = (online) data is purely fetched from the BrewMapAPI (JWT token to the API stays in memory)
# - PERSISTENT = (online/offline) data fetched from the API, but exists in Android cache for some time (JWT token to the API stays in memory)
APP_MODE=HARD_CODE

# Connection URL to the API
# http(s)://<insert URL>:<insert port>/api 
# for development it is recommended HTTP unless import your certificate on the phone or have a CA certificate
BIND_API_URL=http://172.20.10.3:5239/api
