# BrewMap MongoDB — environment variables
# Copy this file to .env and fill in your values before running docker compose up

MONGO_ROOT_USER=admin               # default "admin"
MONGO_ROOT_PASSWORD=changeme        # default "changeme" CHANGE THIS before running in any shared environment
MONGO_PORT=27017                    # default "27017"

# BrewMap API
BIND_IP=127.0.0.1 # 127.0.0.1 for local only access, 0.0.0.0 for global access
HTTP_PORT=5239
HTTPS_PORT=7000

# WebApp (Frontend)

