.dotnet/
.home/
.DS_Store
*.lscache
*.csproj.user
**/bin/
**/obj/
.vs
.vscode

# next.js
.next
out/

# Database specific
brewmap_data/
brewmap_config/
# Environment variables
.env

# dependencies
node_modules/
WebAPI/Frontend/node_modules/
WebAPI/Frontend/.next/

# API specific
WebAPI/BrewMapAPI/BrewMapAPI/appsettings.json
WebAPI/BrewMapAPI/BrewMapAPI/appsettings.Development.json

WebAPI/BrewMapAPI/BrewMapEndpointUnitTest/appsettings.json
