.dotnet/
.home/
.DS_Store
*.lscache
*.csproj.user
**/bin/
**/obj/
.vs
.vscode

# next.js
.next
out/

# Database specific
brewmap_data/
brewmap_config/
# Environment variables
.env

# dependencies
node_modules/

# API specific
src/BrewMapAPI/BrewMapAPI/appsettings.json
src/BrewMapAPI/BrewMapAPI/appsettings.Development.json

src/BrewMapAPI/BrewMapEndpointUnitTest/appsettings.json
